:root {
  --bg-color: #131a22;
  --bg2-color: #232f3e19;
  --hl-color: #48a3c6;
  --hl2-color: #e47911;
  --text-color: #f3f3f3;
  --secondary-text-color: #999999;
  --grey: #9f9f9f76;
  --spacing: 50px;
  --sm-spacing: 30px;
}

.skills-container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-card {
  flex: 0 0 calc(33.333% - 20px);
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.skill-card:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.skill-content h4 {
  margin-bottom: 8px;
  font-size: 18px;
}

.proficiency-bar {
  height: 10px;
  background: rgba(255, 255, 255, 0.7);
  width: 0;
  transition: width 1s ease-in-out;
  border-radius: 5px;
}

.proficiency-text {
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.9);
}

.pageTitlee {
  color: #f3f3f3;
  font-size: 36px;
  max-width: 150px;
  border-bottom: 3px solid var(--hl-color);
  margin: 0 auto;
  margin-bottom: 40px;
}

@media (max-width: 550px) {
  .skills-list {
    flex-direction: column;
    padding: 0 10px;
  }

  .skill-card {
    flex: 0 0 100%;
  }

  .proficiency-text {
    font-size: 12px;
  }
}
